#bannerEdit {
  padding: 40px 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #e3e6f3;
}

#bannerEdit .bannerText {
  font-size: 35px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}

#bannerEdit .container {
  display: flex;
  justify-content: space-between;
}

#bannerEdit .imgContainer {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

#bannerEdit .imgContainer input {
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  color: #1a1a1a;
  border: #088178 2px solid;
  padding: 30px;
}

#bannerEdit .imgContainer h1 {
  margin: 20px 0;
  text-align: center;
  color: #1a1a1a;
}

#bannerEdit .imgContainer h2 {
  margin: 20px 0;
  color: #1a1a1a;
}

#bannerEdit .imgContainer img {
  max-width: 300px;
  height: auto;
  border: #088178 2px solid;
}

.bannerEditText {
  display: flex;
  flex-direction: column;
  width: 50vh;
}

.bannerEditText input {
  width: 100%;
  padding: 7px 13px;
  border-radius: 5px;
  color: #1a1a1a;
  background-color: #fff;
  border: #088178 1px solid;
  margin: 20px 0;
}

.bannerEditText input:focus,
.bannerEditText textarea:focus {
  outline: 2px solid #088178;
}

.bannerEditText h1 {
  margin: 20px 0;
  text-align: center;
  color: #1a1a1a;
}

#bannerEdit button {
  max-width: fit-content;
  margin: auto;
  margin-top: 10px;
  background-color: #088178;
  color: #fff;
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
}

#bannerEdit button:hover {
  background-color: #fff;
  color: #088178;
  border: 1px solid #088178;
}

@media (max-width: 1050px) {
  #bannerEdit {
    padding: 20px 40px;
  }
}

@media (max-width: 930px) {
  #bannerEdit .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .bannerEditText input {
    margin: 20px 0;
  }
  .bannerEditText {
    padding: 20px;
  }
}

@media (max-width: 500px) {
  #bannerEdit .bannerText {
    font-size: 25px;
    margin-bottom: 20px;
  }

  #bannerEdit {
    padding: 0;
  }

  #bannerEdit h1 {
    font-size: 18px;
  }
}
